.view-toolbar {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.view-toolbar button {
  height: 50%;
  color: black;
  font-size: 1.1rem;
  background: none;
  border: 1px solid #ccc;
  padding: 6px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.view-toolbar span {
  min-width: 40px;
  text-align: center;
}

.view-toolbar button:hover {
  background-color: #f0f0f0;
}

body.dark-mode {
  background-color: #1e1e1e;
  color: white;
}
